main {
    padding: 20px;
  }

  body{
    font-family: 'Roboto', sans-serif;
  }

  h1,h2,h3{
    font-family: 'Roboto', sans-serif;
  }
  
  .about-me {
    display: flex;
    align-items: flex-start;
    gap: 20px; 
  }
  
  .about-me img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; 
  }
  
  .about-me-text {
    max-width: 600px;
  }

  ul{
    padding-left: 20px;
  }
  .side-by-side-container{
    display: flex;
    gap: 20px;
  }

.side-by-side-list{
    list-style-type: disc;
    padding-left: 20px;
}
  